.Section4{
    background:linear-gradient(rgba(13, 5, 56, 0.647),rgba(13, 5, 56, 0.647)),url('../../Img/game-dark-souls.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    
    .skew{
        position: relative;
        z-index: 2;
    }
    .skew::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom:0 ;
        background-color: rgba(255,255,255,.1);
        z-index: -1;
        transform:skew(-10deg);
    }
}