.section7{
    background: linear-gradient(rgba(13, 5, 56, 0.249),rgba(13, 5, 56, 0.249)),url('../../Img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover ;
    background-attachment: fixed;


    .connect{
        background-color: rgba(8,3,37,.3);
        padding: 40px 0px;
        margin-bottom: 6px;
    }

    .rights{
        background-color: rgba(8,3,37,.3);
        text-align: center;
        padding: 50px 0px;
        font-size: 16px;
        margin-top: 60px;
    }
}