
.section6{
    background:linear-gradient(rgba(13, 5, 56, 0.647),rgba(13, 5, 56, 0.647)),url('../../Img/game-bloodborne.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 50px;
    }

    p{
        font-size: 14px;
        font-style: italic;
        margin: 20px 0px;
        color: gray;
        
        a{
            color: gray;
        }

    }


    .skew{
        position: relative;
        z-index: 2;
        background-color: transparent;
        padding: 20px 50px;
        margin-top: 20px;
        border: none;
        color: white;
        font-weight: bolder;
        font-size: 18px;
    }
    .skew::after{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom:0 ;
        border: 1px solid white;
        z-index: -1;
        transform:skew(-10deg);
        transition: all .3s;
    }

    .skew:hover::after{
        background-color: #d92b4c;
        transition: all .3s;
        border: 1px solid #d92b4c;
    }

}